{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}เมนูทั้งหมด | {% endblock %}

{% block content %}
<section class="content-section content-section-sigle">
    <div class="content-container">
        <h2 class="content-title"> เมนูทั้งหมด </h2>
        {% if foods.count > 0 %}
        <div class="grid grid-3">
            {% for food in foods %}
            <div>
                <a href="{% url 'food' food.id %}">
                    <img class="image-block" src="{% static food.image_relative_url %}">
                </a>
                <h5 class="food-title"><a href="{% url 'food' food.id %}">{{ food.title }}</a>
                </h5>
                {% if food.special_price is not None %}
                    <P>
                        <span>{{ food.special_price|floatformat:'g' }} บาท</span>
                        <del class="text-gray">{{ food.price|floatformat:'g' }} บาท</del>
                    </P>
                {% else %}
                    <P>{{ food.price|floatformat:'g' }} บาท</P>
                {% endif %}
                {% if food.is_premium %}
                    <p>*** เมนูพิเศษสุด Premium</p>
                {% endif %}
                <P>โปรโมชั่นถึงวันที่ {{food.promotion_end_at|date:'j N Y'}}</P>
                </div>
            {% endfor %}
            </div>
            {% else %}
            <p> ไม่มีเธอ ไม่มีเธอ เดี๋ยวมา เดี๋ยวเจอกัน</p>
            {% endif %}

        </div>

</section>

{% endblock %}