{% extends 'app_general/components/base.html' %}

{% block site_title %}เกี่ยวกับ | {% endblock %}

{% block content %}

<section class="content-section content-section-sigle">
    <div class="content-container">
        <h2 class="content-title"> เกี่ยวกับเนโกะชา </h2>
        <h4>ก่อตั้ง 2022</h4>
        <p> โปรเจ็คเว็บนี้ทำขึ้นมาเพื่อการศึกษาทางการเขียนโปรแกรมเท่านั้น เนื้อหาบนเว็บไม่ใช่สินค้าหรือบริการที่มีอยู่จริง </p>
        <h4>วัตถุดิบชั้นยอด</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eos vero delectus nisi illum architecto repellendus,
            assumenda excepturi iusto enim, nihil earum,
            perferendis consequuntur repellat placeat cum officiis quisquam ipsa nam?</p>
        <h4>เนโกะชา</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eos vero delectus nisi illum architecto repellendus,
            assumenda excepturi iusto enim, nihil earum,
            perferendis consequuntur repellat placeat cum officiis quisquam ipsa nam?</p>
    </div>
</section>

{% endblock %}