{% extends 'app_general/components/base.html' %}

{% block site_title %}ขอบคุณสำหรับการลงทะเบียน | {% endblock %}

{% block content %}
<section class="content-section content-section-sigle">
    <div class="content-container ">
        <h2> ขอบคุณสำหรับการลงทะเบียน </h2> 
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis facere dignissimos qui, fugiat, 
            nam repellendus dolore sit dolorum magni, quasi reiciendis fuga? Veniam, nemo illum itaque architecto animi voluptates repellendus.
        </p>
        <a href="{% url 'home' %}">กลับหน้าแรก</a>
    </div>
</section>      

{% endblock %}

