<footer class="site-footer">
    <h5>ติดตามความเคลื่อนไหวและโปรโชั่นได้ที่นี่</h5>
    <p>
        <a href="https://www.facebook.com/BLACKPINKOFFICIAL">Facebook</a>
        <a href="https://twitter.com/BLACKPINK?s=20&t=1dR-GQ3hLwCA-SIKoCkbYg">Twitter</a>
        <a href="https://www.instagram.com/blackpinkofficial/">Instagram</a>
    </p>
    <p class="site-footer-copyright">Copyright 2022 Nekocha. All right reserced.</p>
    <p class="site-footer-copyright a ">Credit: Thank you picture and Menu from <a href="https://boba-guys.square.site/">Boba Guys</a> </p>
</footer>